main{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 225, 255);
}



.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #c663e2;

}

.cabecalho nav {
    font-style:oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.banner {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to right, #6c2d7e, #85359b);
    padding: 3% 5% 3% 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.banner h1{
    color: #c663e2;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.banner h2{
    color: white;
    font-size: 60px;
    max-width: 60%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.banner p{
    color: white;
    font-size: 20px;
    max-width: 60%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin-top: 2%;
    background-color: #c663e2;
    padding-bottom: 1%;
    padding-top: 1%;
    max-width: 200px;
    max-height: 20%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2%;
    

}

button {
    color: solid rgb(4, 4, 4);
    font-size: 30px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 3% 2%;
}

.imagens img {
    width: 24%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 100%;

}

article {
    margin: 3% 10%;

}

article p {
    font-size: 18px;
}

article h2{
    background-image: linear-gradient(to right, #c663e2, #db8cf0);
    width: 60px;
    height: 10px;
    border-radius: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
}

.card {
    background-color: white;
    margin: 30px;
    padding:20px;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    padding-bottom: 3%;
    padding-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#card2 {
    background-color: white;
    margin: 30px;
    padding:20px;
    width: 560px;
    height: 200px;
    border-radius: 20px;
    padding-bottom: 3%;
    padding-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card h2{
    background-image: linear-gradient(to right, #c663e2, #da8df0);
    width: 15%;
    height: 30%;
    border-radius: 15px;
}

.card h1 {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.card p {
    font-size: 15px;
    color:rgb(67, 67, 67)
}

#card2 h2{
    background-image: linear-gradient(to right, #c663e2, #da8df0);
    width: 15%;
    height: 30%;
    border-radius: 15px;
}

#card2 h1 {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

#card2 p {
    font-size: 15px;
    color:rgb(67, 67, 67)
}

.contatos {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    margin: 5%;

}

form {
    background-color: white;
    align-content: center;
    border-radius: 20px;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 8%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 100%;
    max-height: 100%;
    
}

form h1 {
    font-size: 30px;
}

form input {
    border-radius: 5px;
    border-color: #6c2d7e;
    text-align: center;
    width: 90%;
    height: 40px;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

#outroscontatos {
    background-color: white;
    padding-left: 5%;
    padding-top: 4%;
    padding-right:5%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#outroscontatos h1 {
    font-size: 20px;
    font-weight: bold;
}

#outroscontatos p {
    font-size: 20px;
}

form h2{
    background-image: linear-gradient(to right, #c663e2, #db8cf0);
    width: 60px;
    height: 10px;
    border-radius: 15px;
}

#outroscontatos h3{
    background-image: linear-gradient(to right, #c663e2, #db8cf0);
    width: 60px;
    height: 10px;
    border-radius: 15px;
}

footer {
    padding: 2%;
    text-align: center;
    color: rgb(52, 52, 52);
    background-color: #c663e2;
}