{% extends "base.html" %}

{% block title %} 
    Tiny Thali 
{% endblock %}

{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <main>
        <section>
            <div class="banner">
                <h1>QUEM SOMOS</h1>
                <h2>Conheça nossa história</h2>
            </div>
        </section>

        <div class="voltar-cima">
            <a class="nav-link" href="#topo">↑</a>
        </div>

        <article>
            <h1 style="font-weight: bold;">Quem somos</h1>
            <h2></h2>
            <p>A Tiny Thali é uma marca artesanal criada por Thaliane Galvão, nascida de uma paixão que começou em 2020. Entre fios, agulhas e muita criatividade, o que começou como um hobby se transformou em um sonho: criar peças únicas através do tricô e do crochê.</p>
            <p>Em 2024, esse sonho ganhou vida com a criação da Tiny Thali. Desde então, cada peça é feita à mão, com dedicação e carinho, buscando levar um pouco da nossa paixão pelo artesanal para cada pessoa que escolhe a Tiny Thali.</p>
        </article>

        <container id="perfil-container">
            <img id="perfil" src="{{ url_for('static', filename='img/imagem_perfil.jpeg') }}" class="rounded-circle" alt="imagem perfil">
        </container>

        <article id="objetivos">
            <h1 style="font-weight: bold;">Nosso propósito</h1>
            <h2></h2>
            <p>Na Tiny Thali, acreditamos que o feito à mão tem um valor especial. Nosso propósito é transformar fios em peças que carreguem personalidade, carinho e histórias, valorizando o artesanato e tornando cada criação única para quem a recebe.</p>
        </article>

         <article>
            <h1 style="font-weight: bold;">5 motivos para comprar na Tiny Thali ♡</h1>
            <h2></h2>
        </article>

        <section class="cards">
            <div id="card">
                <h2></h2>
                <h1>Feito a mão</h1>
                <p>Cada peça é produzida artesanalmente, ponto a ponto.</p>
            </div>
            <div id="card">
                <h2></h2>
                <h1>Peças únicas</h1>
                <p>Criações com personalidade, feitas para serem especiais.</p>
            </div>
            <div id="card">
                <h2></h2>
                <h1>Feito com carinho</h1>
                <p>Cuidado e dedicação em cada detalhe da sua peça.</p>
            </div>

        </section>

                <section class="cards">
            <div id="card2">
                <h2></h2>
                <h1>Do seu jeitinho</h1>
                <p>Encomende peças personalizadas para você.</p>
            </div>
            <div id="card2">
                <h2></h2>
                <h1>Pequena marca, grande paixão</h1>
                <p>Ao comprar da Tiny Thali, você apoia um sonho artesanal.</p>
            </div>

        </section>

    </main>

{% endblock %}